.sudokuTable {
	border-collapse: collapse;
	border: 2px solid var(--border);
}

.cell {
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 26px;

	&:focus {
		outline: none;
	}
}

.column {
	border: 1px solid grey;
}

.column:nth-child(3n) {
	border-right: 2px solid var(--border);
}

.box:nth-child(3n) {
	border-bottom: 2px solid var(--border);
}