.interacteables {

	.options {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
		gap: 10px;


		.timerContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			gap: 20px;

			.timer {
				display: flex;
				align-items: center;
				gap: 2px;

				.timerDigit {
					width: 10px;
					text-align: center;
					font-weight: 500;
				}
			}

			.eyesSvgs {
				width: 30px;
				height: 30px;
				padding: 5px;
				border-radius: 10px;
			}
		}

		.optionButtons {
			display: flex;
			align-items: center;
			flex-direction: column;

			.boardOptionsContainer {
				display: flex;
				gap: 15px;
			}
		}

		.newGameButton {
			height: 50px;
			width: 150px;
			padding: 10px 20px;
			font-size: 20px;
			margin-bottom: 10px;
			background-color: var(--darkerButton);

			&:hover {
				background-color: var(--hoverButton);
			}
		}
	}

	.numpad {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;

		.number {
			width: 100px;
			height: 100px;
			font-size: 36px;
		}
	}
}

@media (max-width: 1000px) and (min-width: 551px) {
	.options {
		flex-direction: row !important;
		gap: 0 !important;
		justify-content: space-around !important;
	}

	.numpad {
		display: flex !important;
		flex-direction: row;
		width: fit-content;

		.number {
			width: 50px !important;
			height: 50px !important;
			font-size: 22px !important;
		}
	}
}

@media (max-width: 550px) {

	.interacteables {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.numpad {
		.number {
			font-size: 20px !important;
		}
	}
}