.allContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sudokuTable {
	border-collapse: collapse;
	border: 3px solid var(--border);
	height: 558px;
	width: 558px;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	user-select: none;
	width: 100%;
	height: 100%;

	&:focus {
		outline: none;
	}
}

.focused {
	background-color: var(--cellFocus);
}

.highlight {
	background-color: var(--cellHighlight);
}

.box {
	border: 1px solid grey;
	width: 10%;
	height: 10%;
}

.box:nth-child(3n) {
	border-right: 3px solid var(--border);
}

.row:nth-child(3n) {
	border-bottom: 3px solid var(--border);
}

.initial {
	color: var(--numbersDefault);
	font-weight: bold;
}

.editable {
	color: black;
	font-weight: normal;
}

.notes {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	font-size: 11px;
	font-weight: 600;
}

.note {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--notes);
}

@media (max-width: 600px) {
	.sudokuTable {
		width: 510px;
		height: 510px;
	}

	.cell {
		font-size: 26px;
	}

	.notes {
		font-size: 10px;
	}
}

@media (max-width: 550px) {
	.sudokuTable {
		width: 420px;
		height: 420px;
	}

	.cell {
		font-size: 24px;
	}

	.notes {
		font-size: 8px;
	}
}

@media (max-width: 450px) {
	.sudokuTable {
		height: 375px;
		width: 375px;
	}

	.cell {
		font-size: 20px;
	}

	.notes {
		font-size: 7px;
	}
}

@media (max-width: 420px) {
	.sudokuTable {
		height: 330px;
		width: 330px;
	}

	.notes {
		font-size: 6px;
	}
}

@media (max-width: 340px) {
	.sudokuTable {
		width: 290px;
		height: 290px;
	}
}