.sudokuTable {
	border-collapse: collapse;
	border: 3px solid var(--border);
}

.cell {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.column {
	border: 1px solid grey;
}

.column:nth-child(3n) {
	border-right: 3px solid var(--border);
}

.box:nth-child(3n) {
	border-bottom: 3px solid var(--border);
}

.initial {
	color: var(--numbersDefault);
	font-weight: bold;
}

.editable {
	color: black;
	font-weight: normal;
}

.notes {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	font-size: 10px;
	color: gray;
}

.note {
	display: flex;
	justify-content: center;
	align-items: center;
}

.focused {
	background-color: var(--cellFocus);
	outline: none;
}

@media (max-width: 1000px) {
	.cell {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 600px) {
	.cell {
		width: 55px;
		height: 55px;
		font-size: 26px;
	}
}

@media (max-width: 550px) {
	.cell {
		width: 45px;
		height: 45px;
		font-size: 24px;
	}
}

@media (max-width: 450px) {
	.cell {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}

	.notes {
		font-size: 8px;
	}
}

@media (max-width: 420px) {
	.cell {
		width: 35px;
		height: 35px;
	}

	.notes {
		height: max-content;
	}
}

@media (max-width: 320px) {
	.cell {
		width: 30px;
		height: 30px;
	}

	.notes {
		font-size: 6px;
	}
}