@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #E0E1DD;
	--text: #E0E1DD;
	--textDark: #415A77;
	--hoverButton: #2A3B5B;
	--border: #2A3B5B;
	--a: #0D1B2A;
	--hoverSudokuButton: #415A77;
	--button: #415A77;
	--darkerButton: #0D1B2A;
	--numbersDefault: #415A77;
	--darkerButton: #1B263B;
	--cellFocus: #B6D9E4;
	--notesBorder: #0D1B2A;
	--difficulty: #7d8597;
	--difficultySelected: #0D1B2A;
}


body {
	background-color: var(--background);
}