.main {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.pageContent {
	display: flex;
	gap: 80px;
	align-items: center;
}

@media (max-width: 1000px) {
	.pageContent {
		flex-direction: column;
		margin-top: 100px;
		gap: 20px;
	}
}