.main {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.pageContent {
	display: flex;
	gap: 80px;
	align-items: center;
	justify-content: center;
	height: 92vh;
	margin-top: 8vh;
	scroll-behavior: none;

	.difficultyContainer {
		display: flex;
		font-size: 18px;
		gap: 20px;
		font-weight: 600;
		color: var(--difficulty);

		.selected {
			color: var(--difficultySelected);
		}
	}
}

@media (max-width: 1000px) {
	.pageContent {
		flex-direction: column;
		gap: 15px;
	}
}

@media (max-width: 450px) {
	.difficultyContainer {
		font-size: 14px !important;
	}
}

@media (max-width: 320px) {
	.difficultyContainer {
		gap: 10px !important;
	}
}