.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.pageContent {
	display: flex;
	gap: 80px;
	align-items: center;
	justify-content: center;

	@media (max-width: 1000px) {
		flex-direction: column;
		gap: 15px;
	}

	.difficultyContainer {
		display: flex;
		font-size: 18px;
		gap: 20px;
		font-weight: 600;
		color: var(--difficulty);

		@media (max-width: 450px) {
			font-size: 14px;
		}

		@media (max-width: 340px) {
			gap: 10px;
		}

		.selected {
			color: var(--difficultySelected);
		}
	}
}