.customButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--button);
	color: var(--text);
	transition: background-color .1s ease-in-out;

	&:hover {
		background-color: var(--hoverButton);
	}
}

@media (max-width: 768px) {
	.customButton {
		&:hover {
			background-color: var(--button);
		}

		&.pressed {
			background-color: var(--hoverButton);
		}
	}
}