.navBar {
	height: 80px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: var(--background);
	align-items: center;
	top: 0;
	box-shadow: 0 4px 2px -2px var(--border);
	padding: 0 30px;

	.sudokuWebsite {
		height: 60px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 32px;
		color: var(--a);

		&:hover {
			color: var(--hoverSudokuButton);
		}
	}

	.gitButton {
		background-color: black;
		transform: scale(1);
		transition: transform .3s ease;
		will-change: transform;

		.githubLink {
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			font-size: 22px;
			gap: 20px;
			padding: 0 10px;
		}

		&:hover {
			background-color: black;
			transform: scale(1.05);
		}
	}
}

@media (max-width: 1000px) {
	.navBar {
		height: 60px;
	}

	.sudokuWebsite {
		height: 40px !important;
	}

	.gitButton {
		height: 40px;
		padding: 0px !important;
	}
}


@media (max-width: 1000px) and (min-width: 551px) {
	.sudokuWebsite {
		font-size: 26px !important;
	}

	.githubLink {
		font-size: 18px !important;

		svg {
			height: 24px;
			width: 24px;
		}
	}

}

@media (max-width: 550px) {
	.navBar {
		padding: 0 15px !important;
	}

	.sudokuWebsite {
		font-size: 22px !important;
	}

	.githubLink {
		span {
			display: none;
		}
	}
}